<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Job Tracker</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="img/icon.ico" type="image/x-icon" />


	<!--   Core JS Files   -->
	<script src="js/core/jquery.3.2.1.min.js"></script>
	<script src="js/core/popper.min.js"></script>
	<script src="js/core/bootstrap.min.js"></script>
	<!-- JS -->
	<script src="js/ready.min.js"></script>
	<!-- CSS Files -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.min.css">
	<!-- jQuery UI -->
	<script src="js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
	<!-- jQuery Scrollbar -->
	<script src="js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<!-- Chart JS -->
	<script src="js/plugin/chart.js/chart.min.js"></script>
	<!-- jQuery Sparkline -->
	<!-- Chart Circle -->
	<!-- Datatables -->
	<script src="js/plugin/datatables/datatables.min.js"></script>
	<!-- Bootstrap Notify -->
	<!-- Bootstrap Toggle -->
	<script src="js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

	<!-- Fonts and icons -->
	<script src="js/plugin/webfont/webfont.min.js"></script>

	<!-- Profiles reqid search -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> 
	
	<!-- Job Js -->
	<script src="js/job.js"></script>

	<!-- Profile Js -->
	<script src="js/profile.js"></script>

	<script>
		WebFont.load({
			// google: {"families":["Open+Sans:300,400,600,700"]},
			custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['css/fonts.css'] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
</head>

<style>
	select.form-control,
	.form-control {
		width: 100%;
		height: 35px !important;
		margin-bottom: 9px;
	}

	hr.style-eight {
		overflow: visible;
		/* For IE */
		padding: 0;
		border: none;
		border-top: medium double #333;
		color: #333;
		text-align: center;
	}

	hr.style-eight:after {
		content: "§";
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: white;
	}


    .table th {
        font-size: 13px;
        border-top-width: 0;
        border-bottom: 1px solid;
        border-color: #ebedf2 !important;
        padding: .75rem !important;
    }
	
	.dataTables_scrollBody thead tr[role="row"]{
    visibility: collapse !important;
	}
	
	.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(111, 122, 154);
    border-color: rgb(111, 122, 154);
}

select2-container--default .select2-selection--single {
		width: 162px;
		border: 1px solid #ced4da;
		border-radius: 5px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-color: #888 transparent transparent transparent;
		color: black;
		left: 69px;

	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: black;

	}

	.select2-container--open .select2-dropdown--below {
		width: 159px !important;
	}


	#lttsInterviewBtn,
	#customerInterviewBtn {

		font-size: 11px;
		background: #4473a3;
		border: 1px solid #4473a3 !important;
		color: #fff !important;
		border-radius: 5px;
		height: 39px;
	}

	#progressbar {

		/*CSS counters to number the steps*/
		counter-reset: step;
		
	}

	#progressbar li {
		list-style-type: none;
		color: black;
		font-size: 12px;
		float: left;
		position: relative;

	}

	#progressbar li:before {
		content: "";
		counter-increment: step;
		width: 30px;
		height: 30px;
		border: 2px solid #bebebe;
		line-height: 20px;
		display: block;
		font-size: 10px;
		color: #bebebe;
		background: white;
		border-radius: 50%;
		margin: 0 87px 10px auto;
		text-align: center;

	}

	/*progressbar connectors*/
	#progressbar li:after {
		content: '';
    width: 76%;
    height: 3px;
    background: #979797;
    position: absolute;
    left: -75%;
    top: 15px;
    z-index: 0;
		/*put it behind the numbers*/


	}

	#progressbar li:first-child:after {
		/*connector not needed before the first step*/
		content: none;
	}

	#progressbar li.active:before,
	#progressbar li.active:after {
		background: green;
		color: white;
		border: 2px solid green;
	}

	#progressbar li.submitted:before {
		background-color: #157efb;
		border: 2px solid #157efb;

	}

	#progressbar li.is-reject:before {
		background-color: red;
		border: 2px solid red;

	}
	#progressbar li.selected:before {
		background-color: #bebebe;
		border: 2px solid #bebebe;

	}
	
</style>
<script>
$(document).ready(function() {
	   
	 $('.js-example-basic-single').select2();
	    
	}); 
</script>
<script>


	$(document).ready(function () {

		budropdown();
		jobstatusdropdown();
		salesdropdown();
		salesrepdropdown();
		customerdropdown();
		currentlocationdropdown();
		
		jobreqiddropdown()
		profiletabcountrydropdown();
		highestqualdropdown();
		profilestatusdropdown();
		profilevendordropdown();
	
		//         jobstatus();
		//         expdropdown();
		//         salutationdropdown();         
		//         getvendornamedropdown();
		
	})
	$('.items a').on('click', function() {
  var $this = $(this),
      $bc = $('<div class="item"></div>');

  $this.parents('li').each(function(n, li) {
      var $a = $(li).children('a').clone();
      $bc.prepend(' / ', $a);
  });
    $('.breadcrumb').html( $bc.prepend('<a href="#home">Home</a>') );
    return false;
}) 

</script>

<body>
	<div class="wrapper">
		<div class="main-header" data-background-color="purple">
			<!-- Logo Header -->
			<div class="logo-header">
				<a href="index.html" class="logo">
					<img src="img/logo.jpg" alt="navbar brand" class="navbar-brand"
						style="width: 196px;height: 57px;margin-left: -24px;">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
				<div class="navbar-minimize">
					<button class="btn btn-minimize btn-rounded">
						<i class="fa fa-bars"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg">

				<div class="container-fluid" style="margin-left: 21%;">
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search mr-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Search ..." class="form-control">
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button"
								aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
		<div class="sidebar">
			<div class="sidebar-background"></div>
			<div class="sidebar-wrapper scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav">
						<li class="nav-item active">
							<a href="index.html">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#Requirements">
								<i class="fas fa-layer-group"></i>
								<p>Recuirements</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="Requirements">
								<ul class="nav nav-collapse">
									<li>
										<a href="#" data-toggle="tab" data-target="#addrequirementTab">
											<span class="sub-item">Add Requirement</span>
										</a>
									</li>
									<li>
										<a href="#" data-toggle="tab" onclick="joblistingdetails()" data-target="#viewrequirementTab">
											<span class="sub-item">view Requirement</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#Profiles">
								<i class="fas fa-pen-square"></i>
								<p>Profiles</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="Profiles">
								<ul class="nav nav-collapse">
									<li>
										<a href="#" data-toggle="tab" data-target="#addprofileTab">
											<span class="sub-item">Add Profiles</span>
										</a>
									</li>
									<li>
										<a href="#" data-toggle="tab" onclick="profileslistingdetails()" data-target="#viewprofileTab">
											<span class="sub-item">view Profiles</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#Interviews">
								<i class="fas fa-desktop"></i>
								<p>Interviews</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="Interviews">
								<ul class="nav nav-collapse">
									<li>
										<a href="">
											<span class="sub-item">Add Interviews</span>
										</a>
									</li>
									<li>
										<a href="">
											<span class="sub-item">view Interviews</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

		 <div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Requirement</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Requirement</a>
							</li>
						</ul>
					</div> 
					<!-- <div class="breadcrumb">
						<div class="item"><a href="#home">Home / </a></div>
					</div>
					
					<div class="items">
					   <ul>
						<li><a href="#dashboard">Dashboard</a></li>
					   </ul>
					   <ul>
						 <li><a href="#addrequirementTab">Add Requirement</a></li>
						 <li><a href="#viewrequirementTab">View Requirement</a>
							<ul>
								<li><a href="level1">Level 1</a></li>
								<li><a href="level2">Level 2</a>
									<ul>
										<li><a href="level3">Level 3</a></li>
										<li><a href="level4">Level 4</a></li>
									</ul>
							  </li>
							</ul>
						 </li>
						 <li><a href="#test1">Test 3</a></li>
					  </ul>
					</div> -->
					<!-- page side content add requirement form -->

					<div class="tab-content">
						<div id="addrequirementTab" class="tab-pane fade">
							<div class="container-fluid"
								style=" border: 1px ;padding: 10px;box-shadow: 5px 10px 18px #888888">
								<br>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 "></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Business Unit <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select class="form-control" id="bunit" name="bu_unit" required></select>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Sales Region <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select class="form-control" id="salesregion" name="sales_region" required></select>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1 "></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Sales Representative <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select class="form-control" id="salesrepresent" name="sale_rep" required></select>
									</div>
									
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Customer <span style="color:red;">*</span></label></div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select class="form-control" id="cus" name="customer"
											required></select>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-sm-1"></div>
									<div class="col-sm-10">
										<hr>
									</div>
									<div class="col-sm-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="file" id="choosefile" onchange="uploadOnChange()" name="myFile" multiplestyle="color: black;font-size: 13px;">
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" class="form-control" id="filename" style="width: 100%;" disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-1"></div>
									<div class="col-sm-4">
										<hr>
									</div>
									<div class="col-sm-1"><label
											style="font-weight:bold;left:16px;position:relative;">(OR)</label></div>
									<div class="col-sm-5">
										<hr>
									</div>
									<div class="col-sm-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Requirement ID <span style="color:red;">*</span></label></div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" id="requirement" name="Requirementid" class="form-control" required>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>No of Positions <span style="color:red;">*</span></label></div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="tel" id="positions" name="positions" minlength="1" maxlength="3" class="form-control" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Tech Level <span style="color:red;">*</span></label>
									</div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select id="rolelevel" class="form-control" name="role_level" required>
											<option value="1">Tech 1</option>
											<option value="2">Tech 2</option>
											<option value="3">Tech 3</option>
										</select>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Job Title <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" id="jobtitle" class="form-control" name="jobtitle" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label style="width: 144px;">Requirement Opens on <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="date" id="reqdate" name="req_date" min="1970-01-01" max="2022-01-01" class="form-control" required>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label style="width: 145px;">Requirement Closes on <span style="color:red;">*</span></label>
									</div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="date" id="edate" name="ex_date" min="1970-01-01" max="2025-01-01" class="form-control" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Primary Skill <span style="color:red;">*</span></label></div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" class="form-control" name="primary_skill" id="piskills" required>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Secondary Skill </label></div>
									<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" id="seskills" name="secondry_skill" class="form-control" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Job Location <span style="color:red;">*</span></label>
									</div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select id="jloc" name="job_location" class="form-control" required></select>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Location Flexiblity <span style="color:red;">*</span></label>
									</div>
									<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="radio" value="Y" id="locflexy" name="loc_flex"><label>Yes</label>
										<input type="radio" value="N" id="locflexn" name="loc_flex"><label>No</label>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Status <span style="color:red;">*</span></label>
									</div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<select id="jstatus" class="form-control" name="j_status" required></select>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label style="width: 153px;">Duration of the Assignment <span style="color:red;">*</span></label>
									</div>
									<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" id="jduration" name="jduration" class="form-control" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label style="width: 140px;">Experience(In Months) <span style="color:red;">*</span></label>
									</div>
									<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="tel" id="experience" name="experience" MinLength="1" MaxLength="3" class="form-control" required>
									</div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Role/Domain <span style="color:red;">*</span></label>
									</div>
									<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
										<input type="text" id="role" name="role" class="form-control" required>
									</div>
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Job Description <span style="color:red;">*</span></label>
									</div>
									<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
										<textarea id="jdesp" name="job_description" style="width: 89%;border-radius: 5px;font-size:13px;"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
									<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
										<label>Comments </label></div>
									<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
										<textarea id="comm" name="jd_comments" style="width: 89%;border-radius: 5px;font-size:13px;"></textarea>
									</div>
								</div>
								<div class="submission" style="margin:3%;">
									<div class="row">
										<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9"></div>
										<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
											<button type="submit" class="btn btn-sm btn-info" onclick="addjd()">Submit</button>
											<button type="button" id="canceljob" class="btn btn-sm btn-info" onclick="clearFormJob()">Cancel</button>
										</div>
									</div>
								</div>
							</div>
						</div>
		<!-- /page content add requirement form-->

<!-- page side content view requirement -->

						<div id="viewrequirementTab" class="tab-pane fade">
							<div class="container-fluid" style=" border: 1px ;padding: 10px;box-shadow: 5px 10px 18px #888888">
								<br>
								<div class="table table-responsive ">
									<table id="jobtable" class="display table table-hover" >
										<thead style="font-weight: bold;background-color:rgb(111, 122, 154);position: relative;top: 0px;color: rgb(255, 255, 255);white-space: nowrap;">
											<tr style="font-weight:bold;white-space: nowrap;">
												<th>Requirement Id</th>
												<th>Role</th>
												<th>No.Of Positions</th>
												<th>Experince</th>
												<th>Job Title</th>
												<th>Duration </th>
												<th>Primary Skills</th>
												<th>Secondary Skills</th>
												<th>Status</th>
												<th>Requirement Open Date</th>
												<th>Requirement Close Date</th>
												<th>Account</th>
												<th>Business Unit</th>
												<th>Sales Region</th>
												<th>Sales Representative</th>
												<th>Job Location</th>
												<th>Location Flexibility</th>
												<th>Job Description</th>
												<th>Created By</th>
												<th>Created Date</th>
												<th>Updated By</th>
												<th>Updated Date</th>
											</tr>
										</thead>
										<tbody id="joblistingbody" style="color:black;" class="myTableBody">
										</tbody>
									</table>
								</div>
							</div>
						</div>

	<!-- /page side content view requirement -->

<!-- Success Modal -->
	
<div class="container">
		<div class="modal fade " role="dialog" id="successmodal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background: #47c9a2;">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body text-center">
						<img src="/assets/img/success.png" style="height: 105px;width:103px;">
						<h4>SUCCESS</h4>
						<p>Created Successfully.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Success Modal -->

<!-- Job Edit Modal -->

	<div class="modal fade" id="jobModal" role="dialog" style="margin-top: 3%;">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #73c7e7">
					<h4 class="modal-title">Job Description</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>

				</div>
				<div class="modal-body" style="overflow:auto;height:450px;">
					<form>
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Requirement ID <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<p id="reqiddisplay" name="reqid_display" style="color: black;font-size: 13px;"></p>

							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>Job Title <span style="color:red;">*</span></label></div>
							<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
								<input type="text" id="jobtitleedit" name="jobtitle_edit" class="form-control">
							</div>

							<div class="col-sm-1"> </div>
						</div>
						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>Tech Level <span style="color:red;">*</span></label></div>
							<div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
								<select id="techleveledit" name="tech_leveledit" class="form-control">
									<option value="1">Tech 1</option>
									<option value="2">Tech 2</option>
									<option value="3">Tech 3</option>
								</select>
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;">Job Location </label>
							</div>
							<div class="col-sm-3">
								<select id="jlidedit" name="jlid_edit" class="form-control"></select>
							</div>
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Primary Skill <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="psedit" name="ps_edit" class="form-control">
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;">Secondary Skill </label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="ssedit" name="ss_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>No of Positions <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">

								<input type="text" id="nposedit" name="npos_edit" class="form-control">
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Role/Domain </label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="roleedit" name="role_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>Duration of the Assignment <span style="color:red;">*</span></label>
							</div>
							<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
								<input type="text" id="jdurationedit" name="jduration_edit" class="form-control">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>Status <span style="color:red;">*</span></label>
							</div>
							<div class="  col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
								<select id="jstatusedit" name="jstatus_edit" class="form-control">
								</select>
							</div>
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>

						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Requirement Opens On <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="datereqedit" name="datereq_edit" class="form-control">
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;">Requirement Closes On </label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="closedateedit" name="closedate_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width:115px">Location Flexibility <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="radio" value="Y" id="lfedity" name="lf_edit"><label>Yes</label>
								<input type="radio" value="N" id="lfeditn" name="lf_edit"><label>No</label>
							</div>
							<div class="col-sm-2">
								<label>Experience <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="expedit" name="exp_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Business Unit </label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="buedit" name="bu_edit" class="form-control">
								</select>
							</div>
							<div class="col-sm-2">
								<label>Sales Region </label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="sregionedit" name="sregion_edit"
									class="form-control">
								</select>
							</div>
							<div class="col-sm-1"></div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label style="width:128px">Sales Representative </label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="srepedit" name="srep_edit" class="form-control">
								</select>
							</div>

							<div class="col-sm-2">
								<label style="width: 113px;">Customer </label>
							</div>
							<div class="col-sm-3">
								<select class="form-control" id="custedit" name="cust_edit"></select>
							</div>
							<div class="col-sm-1"></div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Created by <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="cbyedit" name="cby_edit" class="form-control">
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;">Updated by </label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="ubyedit" name="uby_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-2">
								<label>Created date <span style="color:red">*</span></label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="cbydateedit" name="cbydate_edit" class="form-control">
							</div>
							<div class="col-sm-2">
								<label style="width: 113px;">Updated date </label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="ubydateedit" name="ubydate_edit" class="form-control">
							</div>
							<div class="col-sm-1"> </div>
						</div>

						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>Job description </label>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
								<p id="jdiddisplayhidden" name="jdiddisplay_hidden" style="display:none;"></p>
								<textarea style="width: 89%;border-radius: 5px; font-size:13px;" id="jdedit"
									name="jd_edit"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>JD Comments </label>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
								<textarea style="width: 89%;border-radius: 5px; font-size:13px;" id="jdcomment"
									name="jd_comments"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
							</div>
							<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
								<label>BU Comments </label>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
								<textarea style="width: 89%;border-radius: 5px; font-size:13px;" id="bucomment"
									name="bu_comments"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-sm btn-info" id="updatehide" data-dismiss="modal" onclick="updatejd()">Update</button>
					<button type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
<!-- /Job Edit Modal -->

<!-- page side content add profile form -->

	<div id="addprofileTab" class="tab-pane fade">
		<div class="container-fluid" style=" border: 1px ;padding: 10px;box-shadow: 5px 10px 18px #888888">
			<br>
			<form action="post" onsubmit="return false">
				<div class="row">
					<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Basic Information </h4>
				</div>
				<hr style="width: 100%;top: -9px;position: relative;">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 125px;">Job Requirement ID <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select  class="js-example-basic-single form-control" id="jobrecid" name="pjob_recid" onchange="editjobtitilebyreqid()"></select>
					
				</div>
				<div class="col-sm-2">
					<label style="width: 113px;">Job Title <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="profilejobtitle" name="pjob_title" class="form-control" required></select>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 113px;">First Name <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">

					<input type="text" id="firstname" name="pfirst_name" class="form-control" required>
				</div>
				<div class="col-sm-2">
					<label style="width: 113px;">Last Name <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="lastname" name="plast_name" class="form-control" required>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Mobile <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="tel" id="mobile" name="p_mobile" class="form-control" MaxLength="10" pattern="[0-9]{10}" required>
				</div>
				<div class="col-sm-2">
					<label>Email <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="email" id="email" name="p_email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 113px;">Date of Birth <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="date" id="dob" name="p_dob" class="form-control" min="1970-01-01" max="2002-01-01" required>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Address </h4>
			</div>
			<hr style="width: 100%;top: -9px;position: relative;">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Country <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="country" name="p_country" onclick="profiletabstatedropdown()" class="form-control" required>
					</select>
				</div>
				<div class="col-sm-2">
					<label>State <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="state" name="p_state" class="form-control" required>
					</select>
				</div>
				<div class="col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>City <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="city" name="p_city" class="form-control" required>
				</div>
			</div>
			<div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Profession </h4>
			</div>
			<hr style="width: 100%;top: -9px;position: relative;">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Highest Qualification <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="highestquali" name="p_highestquali" required></select>
				</div>
				<div class="col-sm-2">
					<label style="width: 113px;">Current Job Title <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="currentjobtitle" name="pcurrent_jobtitle" class="form-control" required>
				</div>
				<div class="col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Current CTC <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="currentsalary" name="pcurrent_salary" class="form-control" required>
				</div>
				<div class="col-sm-2">
					<label style="width: 113px;">Expected CTC <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="expectedsalary" name="pexpected_salary" class="form-control" required>
				</div>
				<div class="col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Primary Skill <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="pskillset" name="pskill_set" class="form-control" required>
				</div>
				<div class="col-sm-2">
					<label>Secondary Skill </label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="sskillset" name="sskill_set" class="form-control">
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 113px;">Skype ID <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="skypeid" name="pskype_id" class="form-control" required>
				</div>
				<div class="col-sm-2">
					<label>Notice Period <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="tel" id="noticeperiod" name="pnotice_period" minlength="1" maxlength="2" class="form-control" required>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 113px;">Current Location <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="currentlocation" name="pcurrent_location" required></select>
				</div>
				<div class="col-sm-2">
					<label style="width: 113px;">Desired Location <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="desiredlocation" name="pdesired_location" required></select>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Experience <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="text" id="profileexperience" name="p_experience" class="form-control" required>
				</div>
				<div class="col-sm-2">
					<label>Resigned <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="radio" value="Y" id="resignedy" name="resigned"><label>Yes</label>
					<input type="radio" value="N" id="resignedn" name="resigned"><label>No</label>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Others </h4>
			</div>
			<hr style="width: 100%;top: -9px;position: relative;">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label>Current Status <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select class="form-control" id="status" name="p_status" class="form-control" required></select>
				</div>
				<div class="col-sm-2">
					<label>Vendor <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<select id="profilevendorid" name="p_vendorid" class="form-control" required></select>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="row">
				<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Attachment </h4>
			</div>
			<hr style="width: 100%;top: -9px;position: relative;">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label style="width: 113px;">Resume <span style="color:red">*</span></label>
				</div>
				<div class="col-sm-3">
					<input type="file" id="profileresume" onchange="uploadOnChange()" name="myFile" multiple style="color: black;font-size: 13px;">
				</div>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="pfilename" name="presume_name" style="width: 100%;" required disabled>
				</div>
				<div class="col-sm-1"> </div>
			</div>
			<div class="submission" style="margin:3%;">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9"></div>
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
						<button type="Submit" class="btn btn-sm btn-info" onclick="addprofile()">Save</button>
                        <button type="button" class="btn btn-sm btn-info" data-dismiss="modal" onclick="clearFormProfile();">Cancel</button>
					</div>
				</div>
			</div>
		</form>	
	</div>
</div>
		<!-- /page side content view requirement form -->

<!-- page side content table display profile -->
<div id="viewprofileTab" class="tab-pane fade">
	<div class="container-fluid" style=" border: 1px ;padding: 10px;box-shadow: 5px 10px 18px #888888">
		<br>
		<div class="table table-responsive ">
			<table id="profiletable" class="display table table-hover" >
				<thead style="font-weight: bold;background-color:rgb(111, 122, 154);position: relative;top: 0px;color: rgb(255, 255, 255);white-space: nowrap;">
					<tr style="font-weight:bold;white-space: nowrap;">
						<th >Requirement Id</th>
						<th >Job Title</th>
						<th >Candidate Name</th>
						<th >Primary Skill</th>
						<th >Secondary Skill</th>
						<th >Email</th>
						<th >Mobile</th>
						<th >Date Of Birth</th>
						<th >City</th>
						<th >Current Job Title</th>
						<th >Experience</th>
						<th >Current Salary</th>
						<th >Expected Salary</th>
						<th >Notice Period</th>
						<th >Status</th>
						<th >Vendor Id</th>
						<th >Created By</th>
						<th >Created Date</th>
						<th >Updated By</th>
						<th >Updated Date</th>
					</tr>
				</thead>
				<tbody id="joblistingbody" style="color:black;" class="myTableBody">
				</tbody>
			</table>
		</div>
	</div>
</div>

	<!-- /page side content table display profile -->
		
<!-- Profile Edit Modal-->

		<div class="modal fade" id="profileEditModal" role="dialog" style="margin-top: 3%;">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #73c7e7">
						<h5 class="modal-title">Profile Description</h5>
						<button type="button" class="close"	data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body" style="overflow:auto;height:450px;">
						<form action="" method="">
							<div class="row">
								<div class="col-sm-9">
									<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Profile Status </h4>
								</div>
								<div class="col-sm-3">
									<button type="button" id="lttsInterviewBtn" onclick="interviewtypedropdown()"
										style="display: none;">Schedule Ltts Interview</button>
									<button type="button" id="customerInterviewBtn" style="display: none;">Schedule
										Customer Interview</button>
								</div>
							</div>
							

							<div class="row">
								<div class="container">
									<ul id="progressbar">
										<li id="ltts">Ltts</li>
										<li id="customer">Customer</li>
										<li id="onboarded">On-boarded</li>
									</ul>
								</div>
							
							<div class="collapse" id="lttsLevel">
								<div class="mt-3">
									<div class="container">
										<ul id="progressbar">
											<li id="LttsScreening" class="">Screening</li>
											<li id="LttsInterview" class="">Interview</li>
																						
										</ul>
									</div>
								</div>
							  </div>
							  <div class="collapse" id="customerLevel">
								<div class="mt-3">
									<div class="container">
										<ul id="progressbar">
											<li id="customerScreening" >Screening</li>
											<li id="customerInterview">Interview</li>
																						
										</ul>
									</div>
								</div>
							  </div>
							  <div class="collapse" id="onboardLevel">
								<div class="mt-3">
									<div class="container">
										<ul id="progressbar">
											<li>Screening</li>
											<li>Interview</li>
																						
										</ul>
									</div>
								</div>
							  </div>
							</div>
							<br>
							<hr style="width: 100%;top: -9px;position: relative;">
							<div class="row">
								<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Basic Information </h4>
							</div>
							<hr style="width: 100%;top: -9px;position: relative;">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;">Job Requirement ID <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<p id="peditjobrecid" name="peditjob_recid" style="color: black;font-size: 13px;">
									</p>
									<p id="editprofilehiddenId" name="editprofile_hiddenId" style="display:none;"></p>
								</div>
								<div class="col-sm-2">
									<label style="width: 113px;">Job Title <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<p id="peditjobtitle" name="peditjob_title" style="color:black"></p>
								</div>


								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;">First Name <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">

									<input type="text" id="peditfirstname" name="peditfirst_name" class="form-control"
										required>
								</div>
								<div class="col-sm-2">
									<label style="width: 113px;">Last Name <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">

									<input type="text" id="peditlastname" name="peditlast_name" class="form-control"
										required>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>Mobile <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="tel" id="peditmobile" name="pedit_mobile" class="form-control" MaxLength="10" pattern="[0-9]{10}" required>
								</div>

								<div class="col-sm-2">
									<label>Email <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="email" id="peditemail" name="pedit_email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>

								<div class="col-sm-2">
									<label style="width: 113px;">Date of Birth </label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditdob" name="pedit_dob" class="form-control">
								</div>
								<div class="col-sm-1"> </div>
							</div>

							<div class="row">
								<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Address </h4>
							</div>
							<hr style="width: 100%;top: -9px;position: relative;">

							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>Country </label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="peditcountry" name="pedit_country" onclick="editprofilestatedropdown()" class="form-control" required>
									</select>
								</div>
								<div class="col-sm-2">
									<label>State </label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="peditstate" name="pedit_state" class="form-control">
									</select>
								</div>
								<div class="col-sm-1"></div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>City </label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditcity" name="pedit_city" class="form-control">
								</div>
								<div class="col-sm-2"></div>
								<div class="col-sm-3"></div>
								<div class="col-sm-1"> </div>
							</div>

							<div class="row">
								<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Profession </h4>
							</div>
							<hr style="width: 100%;top: -9px;position: relative;">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 128px;">Highest Qualification <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="pedithighestquali" name="pedit_highestquali"
										required></select>

								</div>

								<div class="col-sm-2">
									<label style="width: 113px;">Current Job Title <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditcurrentjobtitle" name="peditcurrent_jobtitle"
										class="form-control" required>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>Current CTC <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditcurrentsalary" name="peditcurrent_salary" class="form-control" required>
								</div>

								<div class="col-sm-2">
									<label style="width: 113px;">Expected CTC <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditexpectedsalary" name="peditexpected_salary"
										class="form-control" required>
								</div>
								<div class="col-sm-1"> </div>
							</div>

							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label> Primary Skill <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditskillset" name="peditskill_set" class="form-control" required>
								</div>
								<div class="col-sm-2">
									<label>Secondary Skill </label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="seditskillset" name="seditskill_set" class="form-control" required>
								</div>

								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>Notice Period <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="tel" id="peditnoticeperiod" name="peditnotice_period" minlength="1" maxlength="2" class="form-control" required>
								</div>
								<div class="col-sm-2">
									<label style="width: 113px;">Skype ID <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditskypeid" name="peditskype_id" class="form-control" required>
								</div>

								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;">Current Location <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="peditcurrentlocation" name="peditcurrent_location"
										required></select>
								</div>
								<div class="col-sm-2">
									<label>Desired Location <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="peditdesiredlocation" name="peditdesired_location"
										required></select>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;">Experience <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="peditexperience" name="pedit_experience" class="form-control"
										required>
								</div>
								<div class="col-sm-2">
									<label>Resigned <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="radio" value="Y" id="editresignedy" name="editresigned"><label>Yes</label>
									<input type="radio" value="N" id="editresignedn" name="editresigned"><label>No</label>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<!-- <div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;"><span style="color:red">*</span>Evaluation
										Date:</label>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="peditevaldate" name="pedit_evaldate"
										required>
								</div>
								<div class="col-sm-2">
									<label style="width: 113px;"><span style="color:red">*</span>Panel:</label>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="peditpanel" name="pedit_panel" required>
								</div>
								<div class="col-sm-1"> </div>
							</div> -->
							<div class="row">
								<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Others </h4>
							</div>
							<hr style="width: 100%;top: -9px;position: relative;">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label>Current Status <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<select class="form-control" id="peditstatus" name="pedit_status" class="form-control" required>
									</select>
								</div>
								<div class="col-sm-2">
									<label>Vendor Name <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<select id="peditvendorid" name="pedit_vendorid" class="form-control" required></select>
								</div>
								<div class="col-sm-1"> </div>
							</div>
							<div class="row">
								<h4 style="margin-left:2%;font-size: 15px;font-weight: bold;">Attachment </h4>
							</div>
							<hr style="width: 100%;top: -9px;position: relative;">
							<div class="row">
								<div class="col-sm-1"></div>
								<div class="col-sm-2">
									<label style="width: 113px;">Resume <span style="color:red">*</span></label>
								</div>
								<div class="col-sm-3">
									<input type="file" id="resume" onchange="uploadOnChange()" name="myFile" multiple
										style="color: black;font-size: 13px;">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="peditfilename" name="peditresume_name"
										style="width: 100%;" required>
								</div>
								<div class="col-sm-1"> </div>

							</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="updateeditprofile" class="btn btn-sm btn-info" data-dismiss="modal"
							onclick="updateprofile()">Update</button>
						<button type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
					</div>
					</form>

				</div>
			</div>
		</div>


<!-- /Profile Edit Modal -->					
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>